parameters:
	level: max
	paths:
		- Src/
	excludePaths:
		- vendor/
	ignoreErrors:
		- # ConsoleChildClass::start() as container binding.
			path: Src/CommandLoader.php
			identifier: argument.type
			count: 1

		-
			path: Src/Helper/Parser.php
			identifier: return.type # Parser::parseInputSuggestion() -> BackedEnum is never callable.
		-
			path: Src/Traits/ConstructorAware.php
			identifier: argument.type # Internal data for setting value (that's the intent).
			count: 3                  # Positional|Associative|Flag classes use it.
		-
			path: Src/Data/Associative.php
			identifier: property.readOnlyAssignNotInConstructor
			count: 7 # All readonly properties are assigned in constructor of `InputProperties` trait.
		-
			path: Src/Data/Flag.php
			identifier: assign.propertyType
			count: 1 # Param names are __construct method's parameter names.

		- # DISABLE WHEN "ScannedItemAware" TRAIT IS USED.
			identifier: trait.unused
			message: '#^Trait TheWebSolver\\Codegarage\\Cli\\Traits\\ScannedItemAware is used zero times and is not analysed\.$#'

		- # DISABLE WHEN "ScannedItemAware" TRAIT IS USED.
			path: Src/DirectoryScanner.php
			identifier: method.notFound
			count: 3
			message: "|::registerCurrentItemDepth()|"
