parameters:
	level: max
	paths:
		- Src/
		- Tests/DirectoryScannerTest.php # To cover "DirectoryScanner" aware traits.
	excludePaths:
		- vendor/
	ignoreErrors:
		-
			path: Src/CommandLoader.php
			identifier: argument.type
			count: 3 # 1 for ConsoleChildClass::start() as container binding & others related to "ScannedItemAware" methods.
		-
			path: Src/Traits/DirectoryScanner.php
			identifier: method.notFound
			message: "|::registerCurrentItemDepth|"
		-
			paths:
				- Src/CommandLoader.php
				- Tests/DirectoryScannerTest.php
			identifier: method.notFound
			messages:
				- "|::currentSubDirectoryTree|"
				- "|::forCurrentSubDirectory|"
		-
			path: Src/Helper/Parser.php
			identifier: return.type # Parser::parseInputSuggestion() -> BackedEnum is never callable.
		-
			path: Src/Helper/InputAttribute.php
			identifier: return.type
			count: 1 # Walked collection is converted to Symfony Inputs.
		-
			path: Src/Traits/ConstructorAware.php
			identifier: argument.type # Internal data for setting value (that's the intent).
			count: 3                  # Positional|Associative|Flag classes use it.
		-
			path: Src/Data/Associative.php
			identifier: property.readOnlyAssignNotInConstructor
			count: 7 # All readonly properties are assigned in constructor of `InputProperties` trait.
		-
			path: Src/Data/Flag.php
			identifier: assign.propertyType
			count: 1 # Param names are __construct method's parameter names.
		-
			path: Tests/DirectoryScannerTest.php
			identifier: argument.type
			count: 2
