parameters:
	level: max
	paths:
		- Src/
	excludePaths:
		- vendor/
	ignoreErrors:
		- # ConsoleChildClass::start() as container binding.
			path: Src/CommandLoader.php
			identifier: argument.type
			count: 1

		-
			path: Src/Helper/Parser.php
			identifier: return.type # Parser::parseInputSuggestion() -> BackedEnum is never callable.
